{% extends "base_generic.html" %}

{% block content %}

<h1>Главная страница</h1>

<p>Добро пожаловать в Мир книг, этот сайт разработ на Django</p>

<h2>Динамический контент</h2>

<p>БД сайта содержит содержит следующее количество записей: </p>
<ul>
    <li><strong>Количество книг:</strong> {{ num_books }}</li>
    <li><strong>Количество экземпляров книг:</strong> {{ num_instances }}</li>
    <li><strong>Количество экземпляров книг в заказе:</strong> {{ num_instances_available }}</li>
    <li><strong>Количество авторов книг:</strong> {{ num_authors }}</li>
</ul>

{% endblock %}